body {
    background-image: url(../imgs/fondo-presentacion.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
div{
    border: 5px inset palegreen;
    box-sizing: border-box;
    width:600px;
    height: 600px;
    position: absolute;left: 50%;top: 50%;
    margin-top: -300px;
    margin-left: -300px;
    padding:10px;
}
h1 {
    font-size: 25px;
    color:limegreen;
    text-align: center;
    font-family: 'cambria';
    text-decoration: underline;
}
ul {
    list-style: none;
    border: 2px paleturquoise groove;
    box-sizing: border-box;
    padding: 10px;
}
li strong {
    color: lime;
    font-size: 20px;
    font-family: 'garamond';   
}
li em {
    color:whitesmoke;
    font-size: 15px;    
    margin-left: 10px;
    font-family: 'arial';    
}
div hr {    
    width: 540px;    
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -270px;
    margin-top: -55px;  
}
p {
    border: 2px paleturquoise groove;
    box-sizing: border-box;
    padding: 20px;
    font-size: 15px;
    font-family: 'arial';
    text-align: justify;
    color: thistle;
}
p em{
    color: springgreen;
}
div > .link {
    border: 1px solid;
    display:inline-block;        
    color:whitesmoke;    
    font-family:'Segoe ui light';
    text-decoration: none;
    text-align: center;
    width:150px;
    padding: 5px;
}
div .link:hover{
    font-size: 15px;
    color:limegreen;
    font-family: 'segoe ui light';
    text-decoration: underline;
    background-image: url(../imgs/fondo-presentacion.jpg);
    opacity: 1;
}
.link{
    float: right;
    margin-top:95px;
}

